
@{
    ViewData["Title"] = "Perfil";
}

<h1>Perfil</h1>

<div class="Perfil">
    <div class="container">
        <div class="row">
            <div class="foto align-content-center col">
                <img src="~/images/Foto.jpg" class="rounded img-fluid" />
            </div>
            <div class="col container">
                <div class="nombre align-content-center row">
                    <span class="fw-bold display-4">Josias Javier Sosa Salinas</span>
                </div>
                <div class="edad align-content-center row">
                    <span class="fw-semibold display-6">Edad: 21 Años</span>
                </div>
                <div class="carrera align-content-center row">
                    <span class="fw-semibold display-6">Carrera: Ingieneria en sistemas de la Informcaion</span>
                </div>
            </div>
        </div>
    </div>
</div>